<% include partials/headerslider %>
<!--custom header file for code from slider tutorial-->

<div id="landing-header">
    <h1><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> Welcome to YelpCamp!</h1>
    <a class="btn btn-lg btn-success" href="/campgrounds">View All Campgrounds</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>